__pycache__/
.vscode/


simulations/

baselines_output/
ceao_error_homohetero_output/
ceao_NoKKT_output/
ceao_output/
ejo_output/
exhaustive_search_output/
fig/
fig_patent/
fura_output/
lura_output/
madaqn_output/
madaqn_output1/
madqn_output/
mappo_output/
plot_reviewers/
plot_reviewers_major/
ppo_output/
result/